* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 7px solid rgb(255, 255, 255);
  margin: 1em 100px;
  padding: 0;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1500px;
}

.navbar-list {
  display: inline-flex;
  list-style: none;
  text-align: center;
  height: 100%;
  width: 80vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 100%;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  box-sizing: border-box;
}

.nav-link:hover {
  background-color: rgb(175, 175, 175);
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.home-page {
  background-image: url("./images/Home_Background.jpg");
  color: aliceblue;
  text-shadow: 2px 2px 14px black;
  background-color: gray;
  height: 970px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 200px;
  margin-top: -80px;
}

.home-page h1 {
  font-size: 60px;
  margin: 10px;
}

.home-page h2 {
  margin: 10px;
  text-align: left;
}

.about-page h1 {
  font-size: 48px;
}

.about-page h2 {
  margin: 0;
  font-size: 30px;
}

.about-page p {
  font-size: 18px;
}

.about-page li {
  font-size: 18px;
}

.about-page {
  color: rgb(245, 239, 239);
  background-color: rgb(37, 36, 36);
  height: 970px;
  /* border: 1px solid yellow; */
}

.about {
  padding: 100px 0px 10px 0px;
}

.profile {
  margin: 50px 400px 0px 400px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.profile-picture {
  border-radius: 15px;
}

.profile-desc {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-tools {
  margin: 50px 500px;
  display: flex;
  justify-content: start;
  gap: 500px;
  list-style-position: inside;
  text-align: start;
}

.hobbies {
  margin: 0px 500px;
  text-align: start;
}

.resume-page {
  background-image: url("./images/Resume_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  text-align: start;
}

.resume {
  padding: 150px 0px;
}

.resume-page h1 {
  margin-top: -50px;
  font-size: 40px;
  text-align: center;
}

.resume-page h2 {
  margin-top: 50px;
  margin-left: 477px;
  margin-bottom: -20px;
  color: gray;
}

.resume-page h3 {
  color: rgb(123, 123, 221);
  font-size: 24px;
}

.resume-page h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 200px;
}

.resume-page p {
  margin-right: 50px;
}

.resume-page img {
  height: 100px;
  width: 100px;
}

.resume-line-break {
  border-top: 7px solid rgb(0, 0, 0);
}

.resume {
  background-color: white;
  border-radius: 20px;
}

.resume-section {
  display: flex;
  justify-content: start;
  gap: 80px;
  margin: 30px 300px 40px 300px;
}

.contact-page {
  padding: 150px;
}

.contact-page h1 {
  font-size: 40px;
}

.contact-page h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.contact-page img {
  width: 100px;
  height: 100px;
}

.contact-page a {
  color: black;
  text-decoration: none;
}

.contact-page a:hover {
  color: rgb(118, 118, 233);
}

.email {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
