* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p,
li {
  font-size: 1rem;
}

hr {
  display: block;
  border: 0;
  border-top: 1vh solid rgb(255, 255, 255);
  margin: 1em 5rem;
  padding: 0;
}

/* NAVBAR */

.navbar {
  background: linear-gradient(
    90deg,
    rgba(44, 44, 44, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1500px;
}

.navbar-list {
  display: inline-flex;
  list-style: none;
  text-align: center;
  height: 100%;
  width: 80vw;
  justify-content: end;
}

.nav-item {
  height: 100%;
}

.nav-link {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.nav-link:hover {
  background-color: rgb(175, 175, 175);
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

/* 
////////////////////////////////////////
HOME PAGE
//////////////////////////////////////// 
*/

.home-page {
  background-image: url("images/Home_Background.jpg");
  color: aliceblue;
  text-shadow: 2px 2px 14px black;
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8rem;
  margin-top: -10vh;
}

.home-page h1 {
  font-size: 7vh;
}

.home-page h2 {
  text-align: left;
}

/* 
////////////////////////////////////////
ABOUT PAGE 
////////////////////////////////////////
*/

.about-page {
  color: rgb(245, 239, 239);
  background-color: rgb(37, 36, 36);
  height: auto;
  padding-bottom: 5rem;
}

.about-page img {
  height: 25%;
  width: 25%;
}

.about {
  padding-top: 12vh;
}

.profile {
  margin: 5vh 20vw;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.profile-picture {
  border-radius: 15px;
}

.profile-desc {
  padding-top: 2vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.skills-and-tools {
  margin: 0 20vw;
}

.skills-tools {
  margin: 5vh 20vw;
  display: flex;
  justify-content: start;
  gap: 40%;
  list-style-position: inside;
  text-align: start;
}

.hobbies {
  margin: 0 20vw;
  text-align: start;
}

/* 
////////////////////////////////////////
RESUME PAGE
//////////////////////////////////////// 
*/

.resume-page {
  background-image: url("images/Resume_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12vh 10rem 10rem 10rem;
  text-align: start;
}

.resume {
  padding: 5rem 0;
}

.resume-page h1 {
  text-align: center;
}

.resume-page h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: gray;
}

.resume-page h3 {
  font-size: 1.5rem;
  color: rgb(123, 123, 221);
}

.resume-page h4 {
  margin-bottom: 1rem;
}

.resume-page p {
  max-width: 800px;
  padding-right: 5rem;
}

.resume-page img {
  height: 5vw;
  width: 5vw;
}

.resume-line-break {
  border-top: 1vh solid rgb(0, 0, 0);
}

.resume {
  background-color: white;
  border-radius: 20px;
}

.resume-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-left: 10vw;
  margin-right: 7vw;
  margin-bottom: 2rem;
}

/*
//////////////////////////////////////// 
CONTACT PAGE 
////////////////////////////////////////
*/

.contact-page {
  padding: 10vh;
}

.contact-page h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.contact-page img {
  width: 10vh;
  height: 10vh;
}

.contact-page a {
  color: black;
  text-decoration: none;
}

.email-link:hover {
  color: rgb(118, 118, 233);
}

.email {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
