* {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

html {
  scroll-behavior: smooth;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 7px solid rgb(255, 255, 255);
  margin: 1em 100px;
  padding: 0;
}

.App {
  text-align: center;
}
